<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="/lib/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app='dailyTodo'>
    <div class="row wrapper"  ng-controller="mainController">
      <div class='hamburger' ng-class={'close':menu} ng-click="toggleMenu()">
        <div class='bun bunTop'></div>
        <div class='bun ham'></div>
        <div class='bun bunBottom'></div>
      </div>
      <div class="sidenav col-md-2 col-sm-3 hideOnXs" ng-class={'show':menu}>
        <div class="">
          <h1 class='sidenav_title'>Daily Todo</h1>
        </div>
        <div class="sidenav_list">
          <button type="button" name="button" class='sidenav_btn active' ng-click='changeDate($event, "today")'>Today</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "tomorrow")'>Tomorrow</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "week")'>Week</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "nextWeek")'>Next Week</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "month")'>Month</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "nextMonth")'>Next Month</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "year")'>Year</button>
          <button type="button" name="button" class='sidenav_btn' ng-click='changeDate($event, "all")'>All</button>
        </div>
        <div class="footer">
          <p>Copyright 2017</p>
        </div>
      </div>
      <div class="body col-md-10 col-sm-9 col-xs-12">
        <div class="content">
          <h1 class='title' ng-if='!startDate && !title'>{{date | date:'MMMM d'}}</h1>
          <h1 class='title' ng-if='startDate'>{{startDate | date:'MMMM d'}} - {{endDate | date:'MMMM d'}}</h1>
          <h1 class='title' ng-if='title'>{{title}}</h1>
          <div class="row">
            <div class="todos col-lg-4 col-lg-offset-1 col-md-5 col-xs-12">
              <h2>Todos</h2>
              <div ng-repeat="todo in todos | filter:{done: false} | filter:currentDateFilter | orderBy:'-dueDate':true" class="row between-xs todo">
                <a class="col-xs-7" ng-click="finishTodo(todo._id)"><p>{{todo.todo}}</p></a>
                <p class="col-xs-3" ng-if="todo.dueDate !== date">{{todo.dueDate |  date:'MMMM d'}}</p>
                <div class="col-xs-2">
                  <button class='delete' ng-click="deleteTodo(todo._id)">X</button>
                </div>
              </div>
              <div class="add row between-xs">
                <input class="add_input col-xs-7" ng-model="todo.todo"  placeholder="Add a todo" required>
                <span class="col-xs-3">
                  <datepicker date-format='fullDate'>
                    <input class="add_date" ng-model="todo.dueDate" type="text" placeholder="Due Date"/>
                  </datepicker>
                </span>
                <button class="add_btn col-xs-2" ng-click="createTodo(todo)">+</button>
              </div>
            </div>
            <div class="todos col-lg-4 col-lg-offset-1 col-md-5 col-xs-12">
              <h2>Done</h2>
              <div ng-repeat="todo in todos | filter:{done: true}" class="row between-xs todo done">
                <a class="col-xs-8" ng-click="undoTodo(todo._id)"><p>{{todo.todo}}</p></a>
                <p class="col-xs-2" ng-if="todo.dueDate !== date">{{todo.dueDate |  date:'MMMM d'}}</p>
                <button class='delete col-xs-2' ng-click="deleteTodo(todo._id)">X</button>
              </div>
            </div>
            <div class="todos backlog col-md-2 col-xs-12">
              <h2>Backlog</h2>
              <div ng-repeat="todo in todos | filter:{done: false} | filter:backlogFilter" class="row between-xs todo">
                <a ng-click="finishTodo(todo._id)"><p>{{todo.todo}}</p></a>
                <p ng-if="todo.dueDate !== date">{{todo.dueDate |  date:'MMMM d'}}</p>
                <button class='delete' ng-click="deleteTodo(todo._id)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='/lib/angular/angular.min.js'></script>
    <script src="/lib/angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <script src='/js/main.js'></script>
  </body>
</html>
