<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body ng-app='dailyTodo'>
    <div class="row wrapper"  ng-controller="mainController">
      <div class="sidenav col-xs-2">
        <div class="">
          <h1 class='sidenav_title'>Daily Todo</h1>
        </div>
        <div class="sidenav_list">
          <button type="button" name="button" class='sidenav_btn active'>Today</button>
          <button type="button" name="button" class='sidenav_btn'>Tomorrow</button>
          <button type="button" name="button" class='sidenav_btn'>Week</button>
          <button type="button" name="button" class='sidenav_btn'>Next Week</button>
          <button type="button" name="button" class='sidenav_btn'>Month</button>
          <button type="button" name="button" class='sidenav_btn'>Year</button>
        </div>
        <div class="footer">
          <p>Copyright 2017</p>
        </div>
      </div>
      <div class="body col-xs-10">
        <div class="content">
          <h1 class='title'>May 30th</h1>
          <div class="row">
            <div class="todos col-xs-3 col-xs-offset-4">
              <h3>Todos</h3>
              <div ng-repeat="todo in todos" class="row between-xs todo">
                <p >{{todo.todo}}</p>
                <button class='delete' ng-click="deleteTodo(todo._id)">X</button>
              </div>

              <div class="">
                <input ng-model="todo.todo" name='todo' placeholder="Add a todo">
                <button ng-click="createTodo(todo)">+</button>
              </div>
            </div>
            <div class="backlog col-xs-2 col-xs-offset-2">
              <h3>Backlog</h3>
              <p>Learn Design</p>
              <p>Watch the Wire</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='/lib/angular/angular.min.js'></script>
    <script src='/js/main.js'></script>
  </body>
</html>
