html, body, .wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.row {
  margin: 0;
}
/* Sidenav */
.sidenav {
  background: #3737d2;
  height: 100%;
  position: relative;
}
.sidenav_title {
  text-align: center;
  color:white;
}
.sidenav_list {
  margin-top: 100px;
}
.sidenav_btn {
  display: block;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  margin: 10px auto;
  transition: all .2s ease;
}
.sidenav_btn:hover {
  cursor: pointer;
  font-size: 20px;
}
.sidenav_btn.active {
  font-size: 24px;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: white;
}

/* Main Body */
.body {
  height: 100%;
}
.content {
  margin-top: 50px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
.todos {
  padding: 10px 20px;
}
.todo:hover .delete {
  opacity: 1;
  cursor: pointer;
}
.todo .delete {
  color: red;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
}
.todo p:hover{
  cursor: pointer;
}
.add {
  margin-top: 20px;
}
.add_input {
  border: none;
  outline: none;
  font-size: 18px;
  height: 30px;
  width: 100%;
}
.add_date {
  border: none;
  outline: none;
  font-size: 18px;
  height: 30px;
  width: 100%;
}
.add:hover .add_btn {
  cursor: pointer;
}
.add_btn {
  border: none;
  background: none;
  outline: none;
  color: green;
  font-size: 28px;
  vertical-align: middle;
}

.doneRow {
  margin-top: 60px;
}
.done {
  color: grey;
  text-decoration: line-through;
}
.hamburger {
  width: 30px;
  margin: 20px 0 0 20px;
}
.bun {
  width: 30px;
  height: 3px;
  background: black;
  margin: 0 auto 3px auto;
  transition: all .3s ease-in-out;
  position: relative;
}
.hamburger:active, .hamburger:hover {
  cursor: pointer;
}
.hamburger:active .bunTop {
  transform: rotate(45deg);
  top: 7px;
}
.hamburger:active .ham {
  transform: rotate(-45deg);
}
.hamburger:active .bunBottom {
  opacity: 0;
}

.close .bunTop {
  transform: rotate(45deg);
  top: 7px;
}
.close .ham {
  transform: rotate(-45deg);
}
.close .bunBottom {
  opacity: 0;
}

@media(max-width:48em) {
  h1 {
    margin-top: 5;
  }
  .content {
    margin: 0 auto;
  }
  .sidenav {
    position: fixed;
    transform: translateX(-300px);
    transition: .3s ease all;
    width: 250px;
  }
  .sidenav.show {
    transform: translateX(0);
  }
  .hamburger.close {
    margin-left: 260px;
    transition: .3s ease all;
  }
}
@media(max-width:48em) {
  .show {
    display: block;
  }
}


@import './components/backlog.css';
