html, body, .wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.row {
  margin: 0;
}
/* Sidenav */
.sidenav {
  background: #3737d2;
  height: 100%;
  position: relative;
}
.sidenav_title {
  text-align: center;
  color:white;
}
.sidenav_list {
  margin-top: 100px;
}
.sidenav_btn {
  display: block;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  margin: 10px auto;
  transition: all .2s ease;
}
.sidenav_btn:hover {
  cursor: pointer;
  font-size: 20px;
}
.sidenav_btn.active {
  font-size: 24px;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: white;
}

/* Main Body */
.body {
  height: 100%;
}
.content {
  margin-top: 50px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
.todos {
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.todo:hover .delete {
  opacity: 1;
  cursor: pointer;
}
.todo .delete {
  color: red;
  background: none;
  border: none;
  outline: none;
  opacity: 0;
}
.todo p:hover{
  cursor: pointer;
}
.add {
  margin-top: 20px;
}
.add_input {
  border: none;
  outline: none;
  font-size: 18px;
  height: 30px;
  width: 100%;
}
.add_date {
  border: none;
  outline: none;
  font-size: 18px;
  height: 30px;
  width: 100%;
}
.add:hover .add_btn {
  cursor: pointer;
}
.add_btn {
  border: none;
  background: none;
  outline: none;
  color: green;
  font-size: 28px;
  vertical-align: middle;
}

.done {
  color: grey;
  text-decoration: line-through;
}


/* BackLog */
.backlog {
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
